<%- include('header.ejs'); -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure distinctio culpa, atque ab vero laborum reprehenderit
    velit illum laboriosam consequuntur animi tenetur eius neque vel. Incidunt voluptas deserunt ad cumque magnam iusto,
    odio nisi provident autem expedita quibusdam enim dolor tempora, accusantium repellendus iste assumenda. Dolorem
    minus sed quisquam earum illum!</p>

<%- include('footer.ejs'); -%>